<header id="top-scroll">
  <div class="coin-page__header" data-toggle="affix">
    <div class="contant_coin-page">
      <div class="exchange-logo">
        <a href="{{urlString}}" class="exchange-logo-img">
          <!-- <img class="" src="assets/currency-svg/logo-only.svg" alt="" width="30" height="30"> -->
          <span class="logo-text">Coinlisting</span>
        </a>
      </div>
      <div class="right-header text-right">
        <div class="exchange_button">
          <a href="javascript:void(0)" class="btn btn-sm btn-green btn-exchange" id="currency-btn" onclick="openNav()">
            <span class="currency-symbol">
              <img src="assets/currency-svg/{{basecurr | lowercase}}.svg" width="16">
              <span class="currency-di-text">{{basecurr}}</span>
            </span>
          </a>
        </div>
        <div class="searchbar">
          <div class="btn-search">
            <button class="search-btn">
              <img src="assets/currency-svg/search.svg">
            </button>
            <input type="text" class="btn-extended" placeholder="Search Coin.." />
          </div>
        </div>
        <div class="login-detail" [ngClass]="login_ses == 1 ? '':'hidden'">
          <ul class="list-unstyled">
            <li>
              <a href="#" data-toggle="modal" data-target="#sign-in">Sing In</a>
            </li>
          </ul>
        </div>
        <ul class="login-detail nav" [ngClass]="login_ses == 0 ? '':'hidden'">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> My Account
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{urlString}}followlist">
                  <i class="fa fa-book" aria-hidden="true"></i> Follow List</a>
              </li>
              <li>
                <a href="{{urlString}}portfolio">
                  <i class="fa fa-line-chart" aria-hidden="true"></i> Portfolio</a>
              </li>
              <li>
                <a href="javascript:;" (click)="destroyUser();">
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--sidebar-start-->
      <div class="sidenav" id="mySidenav">
        <div class="menu-dropdown-content">
          <label class="closebtn" onclick="closeNav()">
            <img class="" src="assets/currency-svg/close.svg" width="20" height="20">
          </label>
          <div class="dropdown_btn">
            <a href="{{urlString}}exchange" class="btn btn-sm btn-exchange btn-menu-exchage btn-green">
              <span class="align-middle">Exchange</span>
            </a>
          </div>
          <label class="currency_label" for="base_currency">Base currency</label>

          <ul name="base_currency" id="base_currency" class="select_contry">
            <li *ngFor="let currency of currencylist" (click)="closeNav(currency.currency_symbol)">
              <a href="javascript:void(0);">
                <img src="assets/currency-svg/{{currency.currency_symbol | lowercase}}.svg">
                <span class="currency-shortname"> {{currency.currency_symbol}} </span>
                <span class="currency-name"> {{currency.currency_name}} </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--sidebar-end-->

      <!--model-strat-->
      <div class="login-model">
        <div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="model-signin">
                  <form>
                    <div class="model-username">
                      <label class="model-label">Username</label>
                      <input type="text" placeholder="Useremail" class="model-input" name="email" [(ngModel)]="login.email">
                    </div>

                    <div class="model-username">
                      <label class="model-label">Password</label>
                      <input type="Password" placeholder="Password" class="model-input" name="password" [(ngModel)]="login.password">
                    </div>

                    <div class="model-btn">
                      <button type="button" class="btn btn-sign" (click)="onSubmitLogin()"> SIGN IN </button>
                    </div>
                    
                    <div class="model-social">
                      <span class="social-title">Use your social accounts</span>
                      <ul class="list-unstyled">
                        <li>
                          <a href="#" class="btn btn-social google-color" (click)="signInWithGoogle();">
                            <img src="assets/currency-svg/google-plus.svg" /> Google Plus</a>
                        </li>
                        <li>
                          <a href="#" class="btn btn-social fb-color" (click)="signInWithFB();">
                            <img src="assets/currency-svg/facebook.svg" /> Facebook</a>
                        </li>
                      </ul>
                    </div>

                    <div class="modal-bottom">
                      <span class="float-left">
                        <a href="#" class="btn forgot-link">Forgot Password?</a>
                      </span>
                      <span class="float-right">
                        <a class="btn sing-in-link" href="#">Sign Up</a>
                      </span>
                      <div class="clearfix"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="sing-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="model-signin">
                  <form>
                    <div class="model-username">
                      <label class="model-label">Name</label>
                      <input type="text" placeholder="Name" class="model-input" name="username" [(ngModel)]="register.username">
                    </div>

                    <div class="model-username">
                      <label class="model-label">Email</label>
                      <input type="Email" placeholder="Email" class="model-input" name="useremail" [(ngModel)]="register.useremail">
                    </div>

                    <div class="model-username">
                      <label class="model-label">Password</label>
                      <input type="Password" placeholder="Password" class="model-input" name="userpass" [(ngModel)]="register.userpass">
                    </div>

                    <div class="model-btn">
                      <button type="button" class="btn btn-sign" (click)="onSubmitRegister()"> Registration </button>
                    </div>

                    <div class="model-social">
                      <span class="social-title">Use your social accounts</span>
                      <ul class="list-unstyled">
                        <li>
                          <a href="#" class="btn btn-social google-color">
                            <img src="assets/currency-svg/google-plus.svg" /> Google Plus</a>
                        </li>
                        <li>
                          <a href="#" class="btn btn-social fb-color">
                            <img src="assets/currency-svg/facebook.svg" /> Facebook</a>
                        </li>
                      </ul>
                    </div>

                    <div class="modal-bottom text-center">
                      <span>
                        <a href="#" class="btn sing-up-link"> Back to login </a>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="forgot-pass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="model-signin">
                  <form>
                    <div class="model-username">
                      <label class="model-label">Email</label>
                      <input type="Email" placeholder="Email" class="model-input">
                    </div>

                    <div class="model-btn">
                      <button type="submit" class="btn btn-sign"> Submit </button>
                    </div>

                    <div class="modal-bottom text-center">
                      <span>
                        <a class="btn forgot-link" href="#">Back to Login</a>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--model-end-->
      <div class="clearfix"></div>
    </div>
  </div>
</header>