<button onclick="topFunction()" id="myBtn" title="Go to top">
  <img src="assets/currency-svg/arrow-up.svg" width="20">
</button>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-12 col-sm-12 ">
        <div class="footer-menu">
          <ul class="list-unstyled">
            <!-- <li>
              <a href="{{urlString}}support">Support</a>
            </li>
            <li>
              <a href="{{urlString}}advertise">Advertise</a> 
            </li> -->
            <li>
              <a href="{{urlString}}support">Support</a>
            </li>
            <li>
              <a href="#">Advertise</a> 
            </li>
          </ul>
        </div> 
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>