<title *ngIf="coin">{{coin.name}} - Cryptocurrency prices</title>
<section class="single-page-detaile" *ngIf="coin">
  <div class="container">
    <div class="single-coin-detaile">
      <div class="row">
        <div class="col-md-12 hidden-sm-down">
          <div class="center-header">
            <div class="info_coin-page" >
              <div class="currency_icon">
                <span class="currency-coin-icon">
                  <img class="img-responsive" src="{{coin.imgpath}}" onError="this.src='assets/currency-50/not-found-50.png'" alt="{{coin.name}}">
                </span>
                <div class="currency_icon">
                  <div class="currency_name">{{coin.name}}
                    <span class="currency_symbol">({{coin.symbol}})</span>
                  </div>
                </div>
              </div>
              <div class="coin-price">
                <span class="price-sign-coin"> {{base_sing}} </span>
                <span class="price-number-coin">{{coin['price_'+basecurr] | number : '1.2-2'}}</span>
              </div>
            </div>
            <div class="">
              <a href="javascript:;" class="btn btn-visit-site pull-right" (click)="followcoin(coin);" [style.display]="loginData != null ? 'initial':'none'">
                <img [src]="follow != 0 ? 'assets/currency-svg/minus.svg' : 'assets/currency-svg/plus.svg'" class="follow-plus" style="width:8px;vertical-align:unset;"/> {{follow != 0 ? 'Unfollow' : 'Follow'}}
              </a>
              <a href="javascript:;" class="btn btn-visit-site pull-right" data-toggle="modal" data-target="#sign-in" [style.display]="loginData == null ? 'initial':'none'">
                <img src="assets/currency-svg/plus.svg" class="follow-plus" style="width:8px;vertical-align:unset;" /> Follow
              </a>
            </div>
          </div>
        </div>

         <div class="col-md-12 hidden-md-up">
          <div class="center-header">
            <div class="info_coin-page">
              <div class="currency_icon">
                <span class="currency-coin-icon">
                  <img class="img-responsive" src="{{coin.imgpath}}" onError="this.src='assets/currency-50/not-found-50.png'" alt="{{coin.name}}">
                </span>
                <div class="currency_icon">
                  <div class="currency_name">{{coin.name}}
                    <span class="currency_symbol">({{coin.symbol}})</span>
                  </div>
                </div>
              </div>
              <div class="coin-price">
                <span class="price-sign-coin"> {{base_sing}} </span>
                <span class="price-number-coin">{{coin['price_'+basecurr] | number : '1.2-2'}}</span>
              </div>
            </div>
            <div class="text-center m-3">
              <a href="javascript:;" class="btn btn-visit-site" (click)="followcoin(coin);" [style.display]="loginData != null ? 'initial':'none'">
                <img [src]="follow != 0 ? 'assets/currency-svg/minus.svg' : 'assets/currency-svg/plus.svg'" class="follow-plus" style="width:8px;vertical-align:unset;"/> {{follow != 0 ? 'Unfollow' : 'Follow'}}
              </a>
              <a href="javascript:;" class="btn btn-visit-site" data-toggle="modal" data-target="#sign-in" [style.display]="loginData == null ? 'initial':'none'">
                <img src="assets/currency-svg/plus.svg" class="follow-plus" style="width:8px;vertical-align:unset;" /> Follow
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="best-coin-value" >
            <label class="coin-lable">MARKET CAP</label>
            <span class="price-sign-coin"> {{base_sing}} </span>
            <span class="price-number-coin">{{coin['market_cap_'+basecurr] | number : '1.2-2'}}</span>
          </div>          
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="best-coin-value" >
            <label class="coin-lable">24H VOLUME</label>
            <span class="price-sign-coin"> {{base_sing}} </span>
            <span class="price-number-coin">{{coin['24h_volume_'+basecurr] | number}}</span>
          </div>         
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="best-coin-value" >
            <label class="coin-lable">CIRCULATING SUPPLY</label>
            <span class="price-number-coin">{{coin.available_supply | number}}</span>
            <span class="currency_symbol">{{coin.symbol}}</span>
          </div>          
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
          <div class="best-coin-value" >
            <label class="coin-lable">TOTAL SUPPLY</label>
            <span class="price-number-coin">{{coin.total_supply | number}}</span>
            <span class="currency_symbol">{{coin.symbol}}</span>
          </div>
          
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>

<section class="coin-page-graph" >
  <div class="container" >
    <div class="row"> 
      <div class="col-md-12">
        <div class="chart-header hidden-sm-down ">
          <div class="chart-title">
            <span>{{coin && coin.name}} Price</span>
          </div>
          <div class="chart-btn text-center">
            <ul class="list-unstyled">
              <li [ngClass]="selectedIndex == 1 ? 'active':''" [style.pointer-events]="selectedIndex == 1 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('hour',1)" class="btn btn-chart" [ngClass]="selectedIndex == 1 ? 'active':''">1 Hour</a>
              </li>
              <li [ngClass]="selectedIndex == 2 ? 'active':''" [style.pointer-events]="selectedIndex == 2 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('day',2)" class="btn btn-chart" [ngClass]="selectedIndex == 2 ? 'active':''">1 Day</a>
              </li>
              <li [ngClass]="selectedIndex == 3 ? 'active':''" [style.pointer-events]="selectedIndex == 3 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('week',3)" class="btn btn-chart" [ngClass]="selectedIndex == 3 ? 'active':''">1 Week</a>
              </li>
              <li [ngClass]="selectedIndex == 4 ? 'active':''" [style.pointer-events]="selectedIndex == 4 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('month',4)" class="btn btn-chart" [ngClass]="selectedIndex == 4 ? 'active':''">1 Month</a>
              </li>
              <li [ngClass]="selectedIndex == 5 ? 'active':''" [style.pointer-events]="selectedIndex == 5 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('year',5)" class="btn btn-chart" [ngClass]="selectedIndex == 5 ? 'active':''">1 Years</a>
              </li>
              <li [ngClass]="selectedIndex == 6 ? 'active':''" [style.pointer-events]="selectedIndex == 6 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('',6)" class="btn btn-chart" [ngClass]="selectedIndex == 6 ? 'active':''">All time</a>
              </li>
            </ul>
          </div>

          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_1h != null" [style.display]="selectedIndex == 1 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_1h >= 0 ? 'green' : 'red'"> {{coin.percent_change_1h | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_24h != null" [style.display]="selectedIndex == 2 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_24h >= 0 ? 'green' : 'red'"> {{coin.percent_change_24h | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_7d != null" [style.display]="selectedIndex == 3 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_7d >= 0 ? 'green' : 'red'"> {{coin.percent_change_7d | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_1m != null" [style.display]="selectedIndex == 4 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_1m >= 0 ? 'green' : 'red'"> {{coin.percent_change_1m | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_1y != null" [style.display]="selectedIndex == 5 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_1y >= 0 ? 'green' : 'red'"> {{coin.percent_change_1y | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_all != null" [style.display]="selectedIndex == 6 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_all >= 0 ? 'green' : 'red'"> {{coin.percent_change_all | number : '1.2-2'}}% </span>
          </div>
        </div>
        <div class="chart-header small-chart-header hidden-md-up ">
          <div class="chart-title">
            <span>{{coin && coin.name}} Price</span>
          </div>
          <div class="chart-btn text-center">
            <ul class="list-unstyled">
              <li [ngClass]="selectedIndex == 1 ? 'active':''" [style.pointer-events]="selectedIndex == 1 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('hour',1)" class="btn btn-chart" [ngClass]="selectedIndex == 1 ? 'active':''">1 H</a>
              </li>
              <li [ngClass]="selectedIndex == 2 ? 'active':''" [style.pointer-events]="selectedIndex == 2 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('day',2)" class="btn btn-chart" [ngClass]="selectedIndex == 2 ? 'active':''">1 D</a>
              </li>
              <li [ngClass]="selectedIndex == 3 ? 'active':''" [style.pointer-events]="selectedIndex == 3 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('week',3)" class="btn btn-chart" [ngClass]="selectedIndex == 3 ? 'active':''">1 W</a>
              </li>
              <li [ngClass]="selectedIndex == 4 ? 'active':''" [style.pointer-events]="selectedIndex == 4 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('month',4)" class="btn btn-chart" [ngClass]="selectedIndex == 4 ? 'active':''">1 M</a>
              </li>
              <li [ngClass]="selectedIndex == 5 ? 'active':''" [style.pointer-events]="selectedIndex == 5 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('year',5)" class="btn btn-chart" [ngClass]="selectedIndex == 5 ? 'active':''">1 Y</a>
              </li>
              <li [ngClass]="selectedIndex == 6 ? 'active':''" [style.pointer-events]="selectedIndex == 6 ? 'none':'initial'">
                <a href="#" (click)="toggleClass('',6)" class="btn btn-chart" [ngClass]="selectedIndex == 6 ? 'active':''">All</a>
              </li>
            </ul>
          </div>
          
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_1h != null" [style.display]="selectedIndex == 1 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_1h >= 0 ? 'green' : 'red'"> {{coin.percent_change_1h | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_24h != null" [style.display]="selectedIndex == 2 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_24h >= 0 ? 'green' : 'red'"> {{coin.percent_change_24h | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_7d != null" [style.display]="selectedIndex == 3 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_7d >= 0 ? 'green' : 'red'"> {{coin.percent_change_7d | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_1m != null" [style.display]="selectedIndex == 4 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_1m >= 0 ? 'green' : 'red'"> {{coin.percent_change_1m | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_1y != null" [style.display]="selectedIndex == 5 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_1y >= 0 ? 'green' : 'red'"> {{coin.percent_change_1y | number : '1.2-2'}}% </span>
          </div>
          <div class="chart-value text-right" *ngIf="coin && coin.percent_change_all != null" [style.display]="selectedIndex == 6 ? 'initial':'none'">
            <span [ngClass]="coin.percent_change_all >= 0 ? 'green' : 'red'"> {{coin.percent_change_all | number : '1.2-2'}}% </span>
          </div>
        </div>
        <div [chart]="chart" style="height:400px;"></div>
      </div>
    </div>
  </div>  
</section>

<section class="coin-descripation">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="coin-web">
          <div class="web-text">
            <div class="">
              <label class="coin-lable">WHAT IS {{coin && coin.name}}? </label>
            </div>
            <p [style.display]="coin && coin.defination != null ? 'initial':'none'">
               {{coin && coin.defination}}
            </p>
            <p [style.display]="coin && coin.defination == null ? 'initial':'none'">
               There’s no description of {{coin && coin.name}} yet.
            </p>
          </div>
          <div class="coin-web-btn">
              <a href="{{coin.website}}" target="_blank" class="btn btn-visit-site"> Visit Site </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="coin-web">
          <div class="web-descripation">
            <label class="coin-lable">EXCHANGE BITCOIN</label>
            <a class="btn btn-sm btn-web btn-exchange" target="_blank" href="">Buy BTC</a>

            <a class="btn btn-sm btn-buy btn-exchange float-right" target="_blank" href="">Sell BTC</a>

            <div class="clearfix"></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>