
<main class="support-main-bg">
    <div class="support-header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="support-header-text">
                        <h2>How can we help you?</h2>
                        <form>
                          <div class="searchbar-support">
                            <ng-template #fq let-f="result" let-q="term" id="allcoinsearch">
                              <div class="dropdown-currency-name currency-select currency-name">{{f.question}}</div>
                            </ng-template>
                            <input id="typeahead-template-new-one" type="text" class="support-input" [(ngModel)]="modelfaq" name="searchfaq" [ngbTypeahead]="search" [resultTemplate]="fq" [inputFormatter]="formatterfaq" placeholder="Strat typing here...." />
                            <button class="support-search-btn"><img src="assets/currency-svg/search.svg" class="img-fluid"></button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="support-categories">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let cat of allcategory">
                      <a href="javascript:;" class="support-card" data-page="poroduct" [ngClass]="selectedIndex == cat.id ? 'active' : ''" (click)="toggleClass(cat.id)">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/{{cat.category_name.split(' ').join('') | lowercase}}.svg" class="img-fluid"></span>
                            <span class="cate-box-title">{{cat.category_name}}</span>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
      <div class="suport-text-sec">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="support-qus-contant" style="min-height:400px;max-height:2000px;">
                <h3 class="qus-title">Most Frequently Asked Questions</h3>
                <div class="support-qus" *ngFor="let qus of allquestion" [style.display]="selectedIndex == qus.category_id ? 'block' : 'none'">
                  <h5 class="qus-point">{{qus.question}}</h5>
                  <p [innerHtml]="qus.answer"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="support-contant-box">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
              <div class="support-bottom-text">
                <h4>CAN'T FIND WHAT YOU ARE LOOKING FOR?</h4>
                <span>Our customer care team is here for you</span>
              </div>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="support-btn float-right"> 
                <a href="#" class="btn contact-btn" data-toggle="modal" data-target="#contact-support">Contact Support</a>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </section>

    <!-- Modal: modalPoll -->

    <div class="portfolio-model">
      <div class="modal fade" id="contact-support" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <form class="h-100" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle"> Contact Support</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="model-back"><img src="assets/currency-svg/left-arrow.svg" class="img-fluid"/></span>
                </button>
              </div>
              
              <div class="modal-body">
                <div class="container d-flex h-100">
                  <div class="row justify-content-center align-self-center">
                    <div class="col-lg-8 col-offset-lg-2 col-md-8 col-offset-md-2 col-sm-12 col-12">
                      <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 ">
                          <div class="currancy-form-input">
                            <input value="" name="cname" type="text" pattern=""  class="contact-input"  placeholder="Name" formControlName="cname">
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 ">
                          <div class="currancy-form-input">
                            <input value="" name="cemail" type="email" pattern="" class="contact-input" placeholder="Email" formControlName="cemail">
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 ">
                          <div class="currancy-form-input">
                            <input  value="" name="subject" type="text" class="contact-input" placeholder="Subject" formControlName="subject">
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 ">
                          <div class="currancy-form-input">
                            <div class="input-file-container">  
                              <input class="input-file contact-input" type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                              <label tabindex="0" for="avatar" class="btn contact-btn input-file-trigger">Select a file...</label>
                              <img src="../../assets/images/image_loader.gif" style="width: 30px;" *ngIf="imageShow"/>
                            </div>
                              <p class="file-return"></p>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-12 ">
                          <div class="currancy-form-input">
                            <textarea  class="contact-input contact-textarea" placeholder="Massage" name="message" formControlName="message"></textarea>
                          </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-12">
                          <div class="text-center">
                            <button href="#" class="btn btn-save" id="contact_us_btn" type="submit">Send</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
<!-- Modal: modalPoll -->
</main>