
<main class="support-main-bg">
    <div class="support-header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="support-header-text">
                        <h2>How can we help you?</h2>

                        <div class="searchbar-support">
                           <input class="support-input" placeholder="Strat typing here....">
                           <button class="support-search-btn"><img src="assets/currency-svg/search.svg" class="img-fluid"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <section>
        <div class="support-categories">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/product.png" class="img-fluid"></span>
                            <span class="cate-box-title">Coinlisting Poroduct</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/integrations.png" class="img-fluid"></span>
                            <span class="cate-box-title">Intrgrations</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/charge.png" class="img-fluid"></span>
                            <span class="cate-box-title">Pricing & Charge</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/account.png" class="img-fluid"></span>
                            <span class="cate-box-title">My Account</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="#">
                          <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/refund.png" class="img-fluid"></span>
                            <span class="cate-box-title">Refunds</span>
                          </div>
                        </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/info.png" class="img-fluid"></span>
                            <span class="cate-box-title">General</span>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
      <div class="suport-text-sec">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="support-qus-contant">
                  <h3 class="qus-title">Most Frequently Asked Questions</h3>
                  <div class="support-qus">
                    <h5 class="qus-point">is coinlisting a Payment Gateway? If not, what is coinlisting and its payment solutions?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>

                  <div class="support-qus">
                    <h5 class="qus-point">Can coinlisting directly refund customers amount to their accounts?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="support-contant-box">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
              <div class="support-bottom-text">
                <h4>CAN'T FIND WHAT YOU ARE LOOKING FOR?</h4>
                <span>Our customer care team is here for you</span>
              </div>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="support-btn"> 
                <a href="#" class="btn contact-btn">Contact Support</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>

