
<main class="support-main-bg">
    <div class="support-header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="support-header-text">
                        <h2>How can we help you?</h2>

                        <div class="searchbar-support">
                           <input class="support-input" placeholder="Strat typing here....">
                           <button class="support-search-btn"><img src="assets/currency-svg/search.svg" class="img-fluid"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="support-categories">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#" data-page="poroduct" class="active">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/product.svg" class="img-fluid"></span>
                            <span class="cate-box-title">Coinlisting Poroduct</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#" data-page="intrgrations">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/integrations.svg" class="img-fluid"></span>
                            <span class="cate-box-title">Intrgrations</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#" data-page="pricing">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/charge.svg" class="img-fluid"></span>
                            <span class="cate-box-title">Pricing & Charge</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#" data-page="account">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/account.svg" class="img-fluid"></span>
                            <span class="cate-box-title">My Account</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="#" data-page="refunds">
                          <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/refund.svg" class="img-fluid"></span>
                            <span class="cate-box-title">Refunds</span>
                          </div>
                        </a>
                    </div> 

                    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                      <a href="#" data-page="general">
                        <div class="support-cate-child">
                            <span class="cate-icon"><img src="assets/images/general.svg" class="img-fluid"></span>
                            <span class="cate-box-title">General</span>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
      <div class="suport-text-sec">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div id="poroduct" class="support-qus-contant" data-page="poroduct">
                  <h3 class="qus-title">Most Frequently Asked Questions</h3>
                  <div class="support-qus">
                    <h5 class="qus-point">is coinlisting a Payment Gateway? If not, what is coinlisting and its payment solutions?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>

                  <div class="support-qus">
                    <h5 class="qus-point">Can coinlisting directly refund customers amount to their accounts?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>

                <div id="intrgrations" class="support-qus-contant hidden" data-page="intrgrations">
                  <h3 class="qus-title">Most Frequently Asked Questions</h3>
                  <div class="support-qus">
                    <h5 class="qus-point">is coinlisting a Payment Gateway? If not, what is coinlisting and its payment solutions?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>

                  <div class="support-qus">
                    <h5 class="qus-point">Can coinlisting directly refund customers amount to their accounts?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>

                <div id="pricing" class="support-qus-contant hidden" data-page="pricing">
                  <h3 class="qus-title">Most Frequently Asked Questions</h3>
                  <div class="support-qus">
                    <h5 class="qus-point">is coinlisting a Payment Gateway? If not, what is coinlisting and its payment solutions?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>

                  <div class="support-qus">
                    <h5 class="qus-point">Can coinlisting directly refund customers amount to their accounts?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>

                <div id="account" class="support-qus-contant hidden" data-page="account">
                  <h3 class="qus-title">Most Frequently Asked Questions</h3>
                  <div class="support-qus">
                    <h5 class="qus-point">is coinlisting a Payment Gateway? If not, what is coinlisting and its payment solutions?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>

                  <div class="support-qus">
                    <h5 class="qus-point">Can coinlisting directly refund customers amount to their accounts?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>

                <div id="refunds" class="support-qus-contant hidden" data-page="refunds">
                  <h3 class="qus-title">Most Frequently Asked Questions</h3>
                  <div class="support-qus">
                    <h5 class="qus-point">is coinlisting a Payment Gateway? If not, what is coinlisting and its payment solutions?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>

                  <div class="support-qus">
                    <h5 class="qus-point">Can coinlisting directly refund customers amount to their accounts?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>

                <div id="general" class="support-qus-contant hidden" data-page="general">
                  <h3 class="qus-title">Most Frequently Asked Questions</h3>
                  <div class="support-qus">
                    <h5 class="qus-point">is coinlisting a Payment Gateway? If not, what is coinlisting and its payment solutions?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>

                  <div class="support-qus">
                    <h5 class="qus-point">Can coinlisting directly refund customers amount to their accounts?</h5>

                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="support-contant-box">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
              <div class="support-bottom-text">
                <h4>CAN'T FIND WHAT YOU ARE LOOKING FOR?</h4>
                <span>Our customer care team is here for you</span>
              </div>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="support-btn float-right"> 
                <a href="#" class="btn contact-btn" data-toggle="modal" data-target="#contact-support">Contact Support</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal: modalPoll -->

<div class="portfolio-model">
	<div class="modal fade" id="contact-support" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form class="h-100">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-center" id="exampleModalLongTitle"> Contact Support</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="model-back"><img src="assets/currency-svg/left-arrow.svg" class="img-fluid"/></span>
						</button>
					</div>
					
					<div class="modal-body">
						<div class="container d-flex h-100">
							<div class="row justify-content-center align-self-center">
                <div class="col-lg-8 col-offset-lg-2 col-md-8 col-offset-md-2 col-sm-12 col-12">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 col-12 ">
                      <div class="currancy-form-input">
                        <input value="" name="name" type="text" pattern=""  class="contact-input"  placeholder="Name">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-12 ">
                      <div class="currancy-form-input">
                        <input value="" name="email" type="email" pattern="" class="contact-input" placeholder="Email">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-12 ">
                      <div class="currancy-form-input">
                        <input  value="" name="subject" type="text" class="contact-input" placeholder="Subject">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-12 ">
                      <div class="currancy-form-input">
                        <div class="input-file-container">  
                          <input class="input-file contact-input" id="my-file" type="file">
                          <label tabindex="0" for="my-file" class="btn contact-btn input-file-trigger">Select a file...</label>
                        </div>
                          <p class="file-return"></p>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12 ">
                      <div class="currancy-form-input">
                        <textarea  class="contact-input contact-textarea" placeholder="Massage"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12">
                      <div class="text-center">
                        <button href="#" class="btn btn-save" type="submit">Send</button>
                      </div>
                    </div>
                  </div>
                </div>

							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal: modalPoll -->
</main>
