<section class="exchage_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="crypto_currency">
          <h2 class="crypto_curr_title">Provide your addresses</h2>
          <div class="btc-to-etc">
            <span>0.1</span>
            <span class="text-highlight">BTC</span>
            <img src="assets/images/arrow-right.svg" class="convert-arrow">
            <span>2.0542257</span>
            <span class="text-highlight">ETH</span>
          </div>

          <div class="exchange-rate-detaile">
            <div class="exchange-rate">
              <strong>Exchange Rate</strong>
              <div>
                <span class="light-text">1</span>
                <strong>BTC</strong>
                <i class="equl-to">=</i>
                <span class="light-text">20.60127834</span>
                <strong> ETH </strong>
              </div>
            </div>
            <div class="miner-fee">
              <b>Miner fee</b>
              <span class="light-text">0.01</span>
              <strong>ETH</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form class="currancy-form">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12 ">
          <div class="currancy-form-label">
            <label class="currancy-label">Your receive address
              <span class="info-icon" data-toggle="tooltip" data-placement="top" title="This amount will be sent to you after we’ve exchanged your coins.">
                <svg x="0px" y="0px" data-tip="<div style='width: 210px'>Send this amount to an address we will provide in the last step.</div>"
                  data-html="true" viewBox="0 0 128 128" currentItem="false">
                  <path d="M64,56L64,56c4.4,0,8,3.6,8,8v24c0,4.4-3.6,8-8,8h0c-4.4,0-8-3.6-8-8V64C56,59.6,59.6,56,64,56z"></path>
                  <path d="M64,128C28.7,128,0,99.3,0,64C0,28.7,28.7,0,64,0c35.3,0,64,28.7,64,64C128,99.3,99.3,128,64,128z M64,16 c-26.5,0-48,21.5-48,48c0,26.5,21.5,48,48,48c26.5,0,48-21.5,48-48C112,37.5,90.5,16,64,16z"></path>
                  <circle cx="64" cy="40" r="9"></circle>
                </svg>
              </span>
            </label>
          </div>

          <div class="currancy-form-input">
            <div class="form-input">
              <input type="text" value="" pattern="" placeholder="Bitcoin (BTC) Address">
            </div>
            <div class="address-coin currency_icon">
              <img src="assets/images/btc.svg" class="input-currency-icon">
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-12">
          <div class="currancy-form-label mt-r-20">
            <label class="currancy-label">Your refund address
              <span class="info-icon" data-toggle="tooltip" data-placement="top" title="After we’ve exchanged your coins, you will receive them on this address.">
                <svg x="0px" y="0px" data-tip="<div style='width: 210px'>Send this amount to an address we will provide in the last step.</div>"
                  data-html="true" viewBox="0 0 128 128" currentItem="false">
                  <path d="M64,56L64,56c4.4,0,8,3.6,8,8v24c0,4.4-3.6,8-8,8h0c-4.4,0-8-3.6-8-8V64C56,59.6,59.6,56,64,56z"></path>
                  <path d="M64,128C28.7,128,0,99.3,0,64C0,28.7,28.7,0,64,0c35.3,0,64,28.7,64,64C128,99.3,99.3,128,64,128z M64,16 c-26.5,0-48,21.5-48,48c0,26.5,21.5,48,48,48c26.5,0,48-21.5,48-48C112,37.5,90.5,16,64,16z"></path>
                  <circle cx="64" cy="40" r="9"></circle>
                </svg>
              </span>
            </label>
          </div>

          <div class="currancy-form-input">
            <div class="form-input">
              <input type="text" value="" pattern="" placeholder="Ether (ETH) Address">
            </div>
            <div class="address-coin currency_icon">
              <img src="assets/images/eth.svg" class="input-currency-icon">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="currency-next-btn">
            <a href="#" class="btn btn-back btn-exchange"> Back </a>
            <a href="#" class="btn btn-next btn-exchange"> Next </a>
          </div>
        </div>
      </div>
    </form>

    <div class="clearfix"></div>
  </div>
</section>