/*(max-width : 1200px)*/
/*(max-width : 1024px)*/
/*(max-width : 992px)*/
/*(min-width : 768px) and (max-width:991px)*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .coin-table-list .currency-sign {
    font-size: 11px; }
  .coin-table-list .currency-value {
    font-size: 11px; }

  .btn.btn-follow {
    font-size: 0; }

  .single-coin-detaile .best-coin-value {
    margin-bottom: 20px; } }
/*(min-width : 768px)*/
/*(max-width : 767px)*/
@media only screen and (max-width: 767px) {
  body {
    font-size: 11px; }

  .sidenav .menu-dropdown-content {
    padding: 2px 10px; }
  .sidenav .select_contry li {
    width: 60px; }
    .sidenav .select_contry li a .currency-name {
      display: none; }

  .table-title .main-chart-btn ul li {
    padding: 0; }

  .coin-table-list .main-coin-price .currency-value {
    font-size: 11px; }
  .coin-table-list .main-coin-price .currency-sign {
    font-size: 11px; }

  .login-detail {
    padding: 11px 15px !important; }

  .coin-page__header .contant_coin-page .exchange-logo {
    padding: 4px 10px;
    width: 40%; }
    .coin-page__header .contant_coin-page .exchange-logo .exchange-logo-img {
      width: 140px; }

  .searchbar {
    float: float;
    padding: 6px 0; }
    .searchbar .btn-search {
      padding: 0; }

  .coin-table-list .coin-coint .main-coin-title a {
    font-size: 11px; }
  .coin-table-list .coin-coint .coin-count-icon {
    width: 50px; }
    .coin-table-list .coin-coint .coin-count-icon .count-text {
      font-size: 9px;
      width: 20px;
      padding: 10px 0 10px 5px; }
    .coin-table-list .coin-coint .coin-count-icon .coin-symbol img {
      width: 16px; }
  .coin-table-list .update-price .price-updown {
    font-size: 11px; }

  .coin-info-item2 {
    width: 100%; }

  .coin-info-item {
    width: 100%; }

  .coin-lable {
    font-size: 10px; }

  .price-sign-coin, .price-number-coin {
    font-size: 12px; }

  .main-table {
    padding: 10px; }

  .coin-heading {
    font-size: 11px; }

  /*btn*/
  .btn.btn-chart {
    padding: 4px 0;
    width: 35px;
    height: 25px;
    border-radius: 4px; }
  .btn.btn-green {
    background-image: none !important;
    padding: 15px !important; }

  /*watchlist*/
  .watchlist-coin-img {
    display: none; }

  .watch-list-detaile {
    border-right: none;
    border-bottom: solid 2px #ebeef3;
    margin-bottom: 10px; }

  /*single-page*/
  .single-coin-detaile .best-coin-value {
    margin-bottom: 10px;
    padding: 10px 15px; }

  .single-page-detaile {
    padding: 30px 0; }

  .single-coin-detaile .center-header {
    display: block; }
    .single-coin-detaile .center-header .info_coin-page {
      text-align: center;
      display: block; }
      .single-coin-detaile .center-header .info_coin-page .coin-price {
        display: block;
        margin-bottom: 10px; }
      .single-coin-detaile .center-header .info_coin-page .price-sign-coin {
        font-size: 20px;
        display: inline-block; }
      .single-coin-detaile .center-header .info_coin-page .price-number-coin {
        font-size: 20px;
        display: inline-block; }
      .single-coin-detaile .center-header .info_coin-page .currency_icon {
        display: block !important;
        margin: 10px;
        padding-right: 0 !important; }
        .single-coin-detaile .center-header .info_coin-page .currency_icon .currency-coin-icon {
          display: block !important;
          padding-right: 0 !important; }

  .login-detail.nav a {
    width: 20px;
    display: block; }
  .login-detail .dropdown-toggle::after {
    display: none; }
  .login-detail .dropdown-menu {
    transition: all ease 0.5s;
    right: 0;
    left: 100%;
    display: block;
    position: fixed;
    width: 0;
    top: 42px; }
    .login-detail .dropdown-menu li a {
      width: 100%; }
  .login-detail .show > .dropdown-menu {
    display: block;
    width: 100%;
    opacity: 1;
    left: 0; }

  .searchbar .btn-search.clicked .btn-extended {
    width: 250px;
    right: 44%;
    padding: 0 10px; }

  .sidebar-search .side-searchbtn .sidesearch-input {
    width: calc(100% - 50px);
    margin-right: 100px; }

  /*profile*/
  .profile-title {
    padding: 0; }

  .profile-form {
    padding: 10px 10px; }

  .profile-footer {
    padding: 10px 0 0; } }
/*(max-width : 449px)*/
@media only screen and (max-width: 449px) {
  .chart-header.small-chart-header {
    display: block; }
    .chart-header.small-chart-header .chart-title {
      display: block;
      margin-bottom: 10px; }
    .chart-header.small-chart-header .chart-btn {
      display: inline-block; }
      .chart-header.small-chart-header .chart-btn ul li {
        padding: 0 0; }
    .chart-header.small-chart-header .chart-value {
      display: inline-block;
      float: right; }
      .chart-header.small-chart-header .chart-value .green, .chart-header.small-chart-header .chart-value .red {
        padding: 8px 10px;
        font-size: 11px; }

  .searchbar .btn-search.clicked .btn-extended {
    width: 200px;
    right: 0;
    padding: 0 10px; } }

/*# sourceMappingURL=responsive.css.map */
