<main>
  <section class="watchlist-chart">
    <div class="watchlist-netwroth">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="watchlist-coin-detaile">
              <span class="coin-lable"> NET WORTH </span>
              <span class="watchlist-main-price">
                <span class="dollar_sign">{{base_sing}}</span>{{overolsum | number : '1.2-2'}}
              </span>
              <h4 class="main-coin-value" [ngClass]="overolper > 0 ? 'green' : 'red'">
                {{overolper | number : '1.2-2'}}%
                <img class="up-down-arrow" [src]="overolper > 0 ? 'assets/currency-svg/arrow-up-green.svg' : 'assets/currency-svg/arrow-down-red.svg'">
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="breadcrumb">
            <h1 class="bread-c-big-text">Followlist</h1>
          </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngIf="followlist == undefined">
          <div class="watch-list text-center list-not-found">
            <img src="../../assets/images/image_loader.gif">
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngIf="followlist != ''">          
          <div class="watch-list" *ngFor="let follow of followlist">
            <div class="watchlist-coin-img">
              <a href="{{urlString}}coin/{{follow.coin_id}}">
                <img src="assets/currency-svg/{{follow.symbol | lowercase}}.svg" (error)="errorHandler($event,follow.symbol)" class="img-fluid">
              </a>
            </div>

            <span class="close-btn" (click)="followcoin(follow);">
              <img src="assets/currency-svg/close.svg" class="img-fluid">
            </span>

            <div class="row justify-content-center align-self-center">
              <div class="col-12 col-sm-8 offset-sm-2 col-md-10 offset-md-3 col-lg-4 offset-lg-2">
                <div class="watch-list-detaile">
                  <div class="coin-title">
                    <a href="{{urlString}}coin/{{follow.coin_id}}">
                      <h3>{{follow.name}}
                        <span class="currency_symbol">{{follow.symbol}} </span>
                      </h3>
                    </a>
                  </div>

                  <div class="coin-value-detaile">
                    <div class="coin-price">
                      <span class="title-first">Last Price </span>
                      <span class="secound-value">
                        <span class="currency-sign"> {{base_sing}}</span>
                        <span class="currency-value" *ngIf="follow['price_'+basecurr] > 1 ">
                          {{follow['price_'+basecurr] | number : '1.0-2'}}
                        </span>
                        <span class="currency-value" *ngIf="follow['price_'+basecurr] <= 1 ">
                           {{follow['price_'+basecurr] | number : '1.0-12'}}
                        </span>
                        <span class="small-text"> ({{follow.price_btc}}
                          <span class="currency_symbol">BTC</span>)
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-4 col-sm-4 col-md-2 col-lg-2">
                <div class="watch-price-chart">
                  <div class="update-price">
                    <span class="title-first">1 Hours </span>
                    <span class="price-updown" [ngClass]="follow.percent_change_1h >= 0 ? 'price_positive' : 'price_nagative'">{{follow.percent_change_1h | number : '1.2-2'}}%
                      <img class="up-down-arrow" [src]="follow.percent_change_1h >= 0 ? 'assets/currency-svg/arrow-up-green.svg' : 'assets/currency-svg/arrow-down-red.svg'">
                    </span>
                    <!-- <svg viewBox="0 0 500 100" class="chart">
                      <polyline fill="none" [attr.stroke]="follow.percent_change_1h >= 0 ? '#3cd483' : '#ff6060'" stroke-width="10" [attr.points]="graph"></polyline>
                    </svg> -->

                  </div>
                </div>
              </div>

              <div class="col-4 col-sm-4 col-md-2 col-lg-2">
                <div class="watch-price-chart">
                  <div class="update-price">
                    <span class="title-first"> 24 Hours </span>
                    <span class="price-updown" [ngClass]="follow.percent_change_24h >= 0 ? 'price_positive' : 'price_nagative'">{{follow.percent_change_24h | number : '1.2-2'}}%
                      <img class="up-down-arrow" [src]="follow.percent_change_24h >= 0 ? 'assets/currency-svg/arrow-up-green.svg' : 'assets/currency-svg/arrow-down-red.svg'">
                    </span>
                    <!-- <svg viewBox="0 0 500 100" class="chart">
                      <polyline fill="none" [attr.stroke]="follow.percent_change_24h >= 0 ? '#3cd483' : '#ff6060'" stroke-width="10" [attr.points]="graph"></polyline>
                    </svg> -->

                  </div>
                </div>
              </div>

              <div class="col-4 col-sm-4 col-md-2 col-lg-2">
                <div class="watch-price-chart">
                  <div class="update-price">
                    <span class="title-first"> 1 Week </span>
                    <span class="price-updown" [ngClass]="follow.percent_change_7d >= 0 ? 'price_positive' : 'price_nagative'">{{follow.percent_change_7d | number : '1.2-2'}}%
                      <img class="up-down-arrow" [src]="follow.percent_change_7d >= 0 ? 'assets/currency-svg/arrow-up-green.svg' : 'assets/currency-svg/arrow-down-red.svg'">
                    </span>
                    <!-- <svg viewBox="0 0 500 100" class="chart">
                      <polyline fill="none" [attr.stroke]="follow.percent_change_7d >= 0 ? '#3cd483' : '#ff6060'" stroke-width="10" [attr.points]="graph"></polyline>
                    </svg> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12" *ngIf="followlist == ''">
          <div class="watch-list list-not-found">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="watch-list-detaile" style="border:0;">
                  <div class="coin-title" style="text-align: center;">
                    <h3> <span class="currency_symbol">You don’t have any coins in your follow list yet.</span> </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>