<section class="profile-contant">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6">
        <div class="Profile-head">
          <div class="profile-title">
            <h3 class="">Profile</h3>
          </div>

          <div class="profile-form portfolio-model">
            <form>
              <div class="profile-input">
                <input type="text" placeholder="Name" class="contact-input" name="username" [(ngModel)]="prof.username">
              </div>

              <div class="profile-input">
                <input type="Email" placeholder="Email" class="contact-input" disabled>
              </div>
              <div class="dropdown">
                <div class="currancy-form-input mb-0 dropdown-toggle" id="dropdownMenuButton">
                    <ng-template #sc let-s="result" let-c="term" id="allcoinsearch">
                      <div [attr.value]="s.symbol" class="dropdown-currency-name currency-select currency-name">{{s.currency_symbol}}</div>
                      <div id="icon-currency" class="currency_icon">
                        <img src="assets/currency-svg/{{s.currency_symbol | lowercase}}.svg" class="input-currency-icon">
                      </div>
                    </ng-template>
                    <input id="typeahead-template-new-cur" type="text" class="form-control currency-select currency-name" [(ngModel)]="prof.b_currency" name="b_currency" [ngbTypeahead]="search" [resultTemplate]="sc" [inputFormatter]="formattercur" placeholder="Search currency" />
                    <button class="button-arrow currency_icon" id="icon-coin">
                      <img class="input-currency-icon" id="coin_image" src="assets/currency-svg/carret.svg">
                    </button>
                </div>
              </div>
            </form>
          </div>

          <div class="profile-footer">
            <div class="profile-btn text-right">
                <button class="btn btn-save" type="submit">Save</button>
                <button class="btn btn-cancel" type="submit">cancel</button>                
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="profile-contant">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6">
        <div class="Profile-head">
          <div class="profile-title">
            <h3 class="">Change Password</h3>
          </div>

          <div class="profile-form portfolio-model">
            <form>
              <div class="profile-input">
                <input type="Password" name="Name" placeholder="Old Password" class="contact-input">
              </div>

              <div class="profile-input mb-0">
                <input type="Password" name="Name" placeholder="New Password" class="contact-input">
              </div>

            </form>
          </div>

          <div class="profile-footer">
            <div class="profile-btn text-right">
                <button class="btn btn-save" type="submit">Save</button>
                <button class="btn btn-cancel" type="submit">cancel</button>                
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>