.exchage_container{
    background: $bg-color;
    padding: 165px 0;
}

.crypto_currency{
    text-align: center;
    margin-bottom: 50px;
}

.crypto_curr_title{
    font-size: 27px;
    letter-spacing: 0.03em;
    color: $light-gray;
    font-weight: normal;
    text-align: center;
    margin-bottom: 13px;
}
.currancy-power-by{
    @extend .crypto_curr_title;
    font-size: 16px;
    
    .powered-img{
        margin: 0 10px;
    }
}

.currancy-form{
    .pr-30 {
        padding-right: 30px;
    }
    .pl-30{
        padding-left: 30px;
    }
    .currancy-form-label{
        display: flex;
        vertical-align: middle;
        margin-bottom: 16px;
        
        .currancy-label{
            font-size: 18px;
            color: $light-gray;

            .info-icon svg{
                width: 15px;
                fill:$text-white;
                margin: 0 10px; 
            }
        }
        
        .max-price{
            text-align: right;
            flex-grow: 1;
            color: $light-gray;
            font-size: 14px;
        }
    }
    
    .currancy-form-input{
        display: flex;
        .form-input{
            flex-grow: 5;
            
            input{
                font-size: 16px;
                padding: 15px 23px 20px;
                outline: none;
                border-radius: 3px 0px 0px 3px;
                color: $dark-gray;
                background-color: $bg-white;
                width: 100%;
                min-width: 20px;
                box-shadow: unset;
                border:none;
                border-right: 1px solid rgb(211, 218, 231);
                margin: 0px;
            }
        }
        
        .currency_icon{
            font-size: 11px;
            font-weight: bold;
            color: rgb(95, 109, 133);
            border-radius: 0px 3px 3px 0px;
            background-color: rgb(255, 255, 255);
            width: 155px;
            padding: 13px 15px 14px 18px;
            flex-grow: 0;
            flex-shrink: 0;
            vertical-align: middle;
            cursor: pointer;
            background-image: url(https://exchange.coinranking.com/static/img/carret.svg);
            background-size: 12px 8px;
            background-repeat: no-repeat;
            background-position: calc(100% - 14px) calc(50% - 2px);
            
            img{
                width: 25px;
                margin-right: 5px;
            }
        }
        
    }
}

.currancy-updown{
    position: absolute;
    left: calc(50% - 13px);
    width: 26px;
    bottom:80px;
    transform: rotate(90deg);
    
    svg{
        fill:$text-white;
    }
}

/*footer*/

.footer-curr-fee{
    font-size: 16px;
    color: $primary-color;
    font-weight: 600;
}
.footer-curr-time{
    font-size: 14px;
    color: $light-gray;
}
.text-highlight{
    color: $color-positive;
    padding: 0 5px;
    font-weight: 600;
}