@import'variables'; 
.detaile-coin-page{
    text-align: center;
    padding: 20px 0 0 0;
}
.coin-page-graph{
    padding: 50px 0;
}
.single-page-detaile{
    padding: 50px;
    background: $bg-color;
}
.single-coin-detaile{
    position: relative;
    padding: 20px;
    color: $text-white;

    .center-header{
        @include flexbox ;
        margin-bottom: 30px;
        @include align-items (center);
        @include justify-content (space-between);

        .info_coin-page{
            @include flex (1);
            display: table;

            .currency_icon{
                display: table-cell;
                vertical-align: middle;

                .currency-coin-icon  {
                    @extend .currency_icon;
                    img{
                        width: 50px;
                    }
                }
            .currency_icon{
                @extend .currency_icon;
                padding-right: 15px;

                .currency_name{
                    font-size: 22px; 
                }
            }
                .currency_symbol{
                font-size: 12px;
                color: $light-gray;
                font-weight: 700;
                display: inline-block;
            }
        }
            .coin-price{
                @extend .currency_icon;                
                font-size: 20px;
            }
            .price-number-coin{
                color: $text-white;
            }
            
        }
    }

    .coin-visit-site{
        padding: 7px 0;
    }

    .best-coin-value{
        background-color: $bg-white;
        padding: 30px 20px;
        border-radius: 5px;

        .coin-lable{
            @extend .coin-lable;
        }
        .price-number-coin{
        }
    }
}
.currency_symbol{
    color: $btn-bg-color;
    display: table-cell;
    vertical-align: middle;
}
.chart-header{
    display: table;
    width: 100%;
    margin-bottom: 20px;
    .chart-title{
        display: table-cell;
        vertical-align: middle;
        span{
            font-size: 24px;
            color: #0e0620;
        }
    }
    .chart-btn {
        @extend .chart-title;
        ul{
            margin-bottom: 0;
            li{
                padding: 0 5px;
                display: inline-block;
                &.active{
                    a{
                    background: $dark-blue;
                    }
                }
            }
        }
    }
    .chart-value {
        @extend .chart-title;
        .green{
            color: $color-positive;
            font-size: 13px;
            vertical-align: middle;
            font-weight: 600;
            padding: 10px 15px;
            border: solid 1.5px $color-positive;
            border-radius: 5px;
            min-width: 130px;
            display: block;
            text-align: center;
            float: right;
        }
        .red{
            color: $color-nagative;
            font-size: 13px;
            vertical-align: middle;
            font-weight: 600;
            padding: 10px 15px;
            border: solid 1.5px $color-nagative;
            border-radius: 5px;
            min-width: 130px;
            display: block;
            text-align: center;
            float: right;
        }
    }
}

.coin-descripation{
    padding: 50px 0;
    
    .coin-web{
        background: $bg-color;
        padding: 20px;
        border-radius: 5px;
        height: 100%;
        @include flexbox; 
        @include align-items (center);
        @include justify-content (space-between);
        .web-text{
            color: $text-white;
            font-size: 14px;
            line-height: 1.25;
            p{
                margin-bottom: 0;
            }
        }
        .web-descripation{
            .coin-lable{
                margin-bottom: 25px;
            }
        }
        .coin-web-btn{
        }
    }
}

.df{
    @include flexbox;
}
