@import'variables'; 
.detaile-coin-page{
    text-align: center;
    padding: 20px 0 0 0;
}
.coin-page-graph{
    padding: 50px 0;
}
.single-page-detaile{
    padding: 50px;
    background: $bg-color;
}
.single-coin-detaile{
    position: relative;
    padding: 20px;
    color: $text-white;

    .center-header{
        display: flex;
        margin-bottom: 30px;

        .info_coin-page{
            flex: 1;
            display: table;

            .currency_icon{
                display: table-cell;
                vertical-align: middle;

                .currency-coin-icon  {
                    @extend .currency_icon;
                    img{
                        width: 50px;
                    }
                }
            .currency_icon{
                @extend .currency_icon;
                padding-right: 15px;

                .currency_name{
                    font-size: 22px; 
                }
            }
                .currency_symbol{
                font-size: 12px;
                color: $light-gray;
                font-weight: 700;
            }
        }
            .coin-price{
                @extend .currency_icon;                
                font-size: 20px;
            }
            .price-number-coin{
                color: $text-white;
            }
            
        }
    }

    .coin-visit-site{
        padding: 7px 0;
    }

    .best-coin-value{
        background-color: $bg-white;
        padding: 30px;
        border-radius: 5px;

        .coin-lable{
            @extend .coin-lable;
        }
        .price-number-coin{
        }
    }
}
.currency_symbol{
    color: $btn-bg-color;
    display: inline-block;
    vertical-align: middle;
}
.chart-header{
    display: table;
    width: 100%;
    margin-bottom: 20px;
    .chart-title{
        display: table-cell;
        vertical-align: middle;
        span{
            font-size: 24px;
            color: #0e0620;
        }
    }
    .chart-btn {
        @extend .chart-title;
        ul{
            margin-bottom: 0;
            li{
                padding: 0 5px;
                display: inline-block;
                &.active{
                    a{
                    background: $dark-blue;
                    }
                }
            }
        }
    }
    .chart-value {
        @extend .chart-title;
        .green{
            color: $text-green;
            font-size: 13px;
            vertical-align: middle;
            font-weight: 600;
            padding: 10px 15px;
            border: solid 1px $text-green;
            border-radius: 5px;
        }
        .red{
            color: $color-nagative;
            font-size: 14px;
            vertical-align: middle;
            font-weight: 500;
            padding: 10px 15px;
            border: solid 1px $color-nagative;
            border-radius: 5px;
        }
    }
}

.coin-descripation{
    padding: 50px 0;
    
    .coin-web{
        background: $bg-color;
        padding: 20px;
        border-radius: 5px;
        height: 100%;
        .web-text{
            color: $text-white;
            font-size: 14px;
            line-height: 1.25;
            p{
                margin-bottom: 0;
            }
        }
        .web-descripation{
            .coin-lable{
                margin-bottom: 25px;
            }
        }
    }
}

.df{
    display: flex;
}

.highcharts-color-0 {
	background:$bg-color !important;
	stroke: transparent;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
	stroke:transparent;
}
.highcharts-axis.highcharts-color-0 text {
	fill: $bg-color;
}
.highcharts-color-1 {
	fill: $bg-green;
	stroke: $bg-green;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
	stroke: $bg-green;
}
.highcharts-axis.highcharts-color-1 text {
	fill: $bg-green;
}
.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 2px;
}

.highcharts-title {
    fill :#170b32 !important;
    color:#170b32 !important;    
    font-weight: 500;
    letter-spacing: 0.3em;
    font-size: 18px !important;
    font-family: 'montserrat';
}