$primary-color:#4b4b4b;
$bg-color: linear-gradient(135deg, #170b32 0%, #3d3379 100%);
$btn-bg-color:#ff8033;
$dark-blue:#3d3379;
$bg-white:#fff;
$bg-green:#3ad483;
$text-white:#fff;
$dark-gray:#8a96a3;
$sign-color:#acb1bf;
$color-nagative:#ff6060;
$light-gray:#9ca5be;
$bg-footer:#f6f7fc;
$color-positive:#3cd483;
$bg-blue-opcity:rgba(66, 132, 243,0.5);
$hover-green:#22bb6b;
$hover-orange:#f17428;
$hover-dark-blue:#292157;
$body-bg-color:#f8f9fb;
$border-color:#ebeef3;
$text-black:#000;
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
} 
@mixin filter($filter) {
  -webkit-filter: $filter;
     -moz-filter: $filter;
      -ms-filter: $filter;
          filter: $filter;
} 
@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}

@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}
@mixin justify-content($align) {
  -webkit-justify-content: $align;
     -moz-justify-content: $align;
      -ms-justify-content: $align;
          justify-content: $align;
}

$xx-small-mobile: "only screen and (max-width : 321px)";
$small-mobile: "only screen and (max-width : 449px)";
$big-mobile: "only screen and (max-width : 767px)";
$all-tab: "only screen and (min-width : 768px)";
$only-tab: "only screen and (min-width : 768px) and (max-width:991px)";
$big-tab: "only screen and (max-width : 992px)";
$laptop-screen: "only screen and (max-width : 1024px)";
$desktop-screen: "only screen and (max-width : 1200px)";

