@import'variables';

/*(max-width : 1200px)*/
@media #{$desktop-screen} {

}

/*(max-width : 1024px)*/
@media #{$laptop-screen} {
	
}

/*(max-width : 992px)*/
@media #{$big-tab} {
	
}

/*(min-width : 768px) and (max-width:991px)*/
@media #{$only-tab}{
    .coin-table-list {
        .currency-sign{
            font-size: 11px !important;
        }
        .currency-value{
            font-size: 11px !important;
        }
    }
    .btn.btn-follow{
        font-size: 0 !important;
    }
    .single-coin-detaile{
         .best-coin-value{
            margin-bottom: 20px;
         }
    }
}
/*(min-width : 768px)*/
@media #{$all-tab} {

}

/*(max-width : 767px)*/
@media #{$big-mobile} {
    body{
        font-size: 11px !important;
    }

    .sidenav{
        .menu-dropdown-content{
            padding: 2px 10px !important;
        }
        .select_contry{

            li{ 
                width: 60px !important;

                a{
                     .currency-name{
                        display: none;
                     }
                }
            }
        }
    }
    .table-title {
        .main-chart-btn{
             ul{
                  li{
                    padding: 0 !important; 
                }
             }
        }
    }
    .coin-table-list {
        .main-coin-price{
             .currency-value{
                font-size: 11px !important;

             }
              .currency-sign{
                  font-size: 11px !important;
              }
        }
    }
    .login-detail{
        padding: 11px 15px !important;
    }
    .coin-page__header{
         .contant_coin-page{
              .exchange-logo{
                padding:4px 10px !important;
                width: 40% !important;
              }
               .exchange-logo-img{
                   width: 30px !important;
               }
         }
    }
    .searchbar{
        float: float !important;
        padding: 4px 0 !important;
        .btn-search{
            padding: 0 !important;
        }
    }

    .coin-table-list {
        .main-coin-price{
             .currency-value{
                font-size: 11px !important;

             }
              .currency-sign{
                  font-size: 11px !important;
              }
        }
    }
    .coin-table-list {
        .coin-coint {

            .main-coin-title{
                a{
                    font-size: 11px !important;
                }
            }
            .coin-count-icon {
                width: 50px !important;
                .count-text{
                    font-size: 9px!important;
                    width: 20px !important;
                    padding: 10px 0 10px 5px !important;
                }
                .coin-symbol {
                    img{
                        width: 16px !important;
                    }
                }
            }
        }
    }
    .coin-info-item2{
        width: 100% !important;
    }
    .coin-info-item{
        width: 100% !important;
    }
    .coin-lable{
        font-size: 10px !important;
    }
    .price-sign-coin, .price-number-coin{
        font-size: 12px !important;
    }
    .main-table{
        padding: 10px !important; 
    }
    .coin-heading{
        font-size: 11px !important;
    }
    /*btn*/
    .btn{

        &.btn-chart{
            padding: 4px 0 !important;
            width: 35px;
            height: 25px;
            border-radius: 4px !important;
        }
        &.btn-green{
            background-image: none;
            padding: 15px !important;
        }

    }

    /*watchlist*/
    .watchlist-coin-img{
        display: none !important;
    }
    .watch-list-detaile{
        border-right: none !important;
    }

    /*single-page*/
    .single-coin-detaile{
         .best-coin-value{
            margin-bottom: 10px;
            padding: 10px 15px !important;
         }
    }
    .single-page-detaile{
        padding: 30px 0 !important;
    }
    .single-coin-detaile {
        .center-header {
            display: block !important;
            .info_coin-page {
                text-align: center;
                display: block !important;
                .coin-price{
                    display: block !important;
                    margin-bottom: 10px;
                }
                .price-sign-coin{
                    font-size: 20px !important;
                    display: inline-block !important;
                }
                .price-number-coin{
                    font-size: 20px !important;
                    display: inline-block !important;                    
                }
                .currency_icon {
                    display: block !important;
                    margin: 10px ;
                    padding-right: 0 !important;
                     .currency-coin-icon {
                        display: block !important;
                        padding-right: 0 !important;
                     }
                }
            }
        }
    }
    .login-detail {
        &.nav{
            a{
                width: 20px;
                display: block;
            }
        }
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-menu{
            transition: all ease 0.5s;
            right: 0 !important; 
            left: 100% !important;
            display: block !important;
            position: fixed !important;
            width: 0;
            top: 42px !important;

            li{
                a{
                    width: 100%;
                }
            }
        }
        .show > .dropdown-menu {
            display: block !important;
            width: 100% !important;
            opacity: 1;
            left: 0 !important;
        }
    }
    .searchbar{
        .btn-search {
            &.clicked{
                .search-btn{

                }
                .btn-extended{
                    width: 250px !important;
                    right: 44% !important;
                    padding: 0 10px !important;
                }
            }
            
        }
    }
    .sidebar-search{
        .side-searchbtn{
            .sidesearch-input{
                width: calc(100% - 50px) !important;
                margin-right: 100px;
            }   
        }
    }
}       

/*(max-width : 449px)*/
@media #{$small-mobile} {
	
    .chart-header{
        
        &.small-chart-header{
            display: block !important;
            .chart-title{
                display: block !important;
                margin-bottom: 10px;
            }
            .chart-btn{
                display: inline-block !important;
                ul{
                    li{
                        padding:  0 0 !important;
                    }
                }
            }
            .chart-value{
                display: inline-block;
                float: right;
                .green{
                    padding: 8px 10px !important;
                    font-size: 11px !important;
                }
                .red{
                    @extend .green;
                }
            }
        }
    }

    .searchbar{
        .btn-search {
            &.clicked{
                .search-btn{

                }
                .btn-extended{
                    width: 200px !important;
                    right: 0 !important;
                    padding: 0 10px !important;
                }
            }
            
        }
    }
	
}   


