@import'variables';

/*(max-width : 1200px)*/
@media #{$desktop-screen} {

}

/*(max-width : 1024px)*/
@media #{$laptop-screen} {
	
}

/*(max-width : 992px)*/
@media #{$big-tab} {
	
}

/*(min-width : 768px) and (max-width:991px)*/
@media #{$only-tab}{
    .coin-table-list {
        .currency-sign{
            font-size: 11px !important;
        }
        .currency-value{
            font-size: 11px !important;
        }
    }
    .btn.btn-follow{
        font-size: 0 !important;
    }
}
/*(min-width : 768px)*/
@media #{$all-tab} {

}

/*(max-width : 767px)*/
@media #{$big-mobile} {
    body{
        font-size: 11px !important;
    }
    .table-title {
        .main-chart-btn{
             ul{
                  li{
                    padding: 0 !important; 
                }
             }
        }
    }
    .coin-table-list {
        .main-coin-price{
             .currency-value{
                font-size: 11px !important;

             }
              .currency-sign{
                  font-size: 11px !important;
              }
        }
    }
    .login-detail{
        padding: 15px 15px !important;
    }
    .coin-page__header{
         .contant_coin-page{
              .exchange-logo{
                padding: 15px !important;
                width: 40% !important;
              }
         }
    }
    .searchbar{
        clear: both !important;
        float: none !important;
        padding: 15px !important;
    }

    .coin-table-list {
        .main-coin-price{
             .currency-value{
                font-size: 11px !important;

             }
              .currency-sign{
                  font-size: 11px !important;
              }
        }
    }
    .coin-table-list {
        .coin-coint {

            .main-coin-title{
                a{
                    font-size: 11px !important;
                }
            }
            .coin-count-icon {
                width: 50px !important;
                .count-text{
                    font-size: 9px!important;
                    width: 20px !important;
                    padding: 10px 0 10px 5px !important;
                }
                .coin-symbol {
                    img{
                        width: 16px !important;
                    }
                }
            }
        }
    }
    .coin-info-item2{
        width: 100% !important;
    }
    .coin-info-item{
        width: 100% !important;
    }
    .coin-lable{
        font-size: 10px !important;
    }
    .price-sign-coin, .price-number-coin{
        font-size: 12px !important;
    }
    .main-table{
        padding: 10px !important; 
    }
    .coin-heading{
        font-size: 11px !important;
    }
    /*btn*/
    .btn{

        &.btn-chart{
            padding: 4px 0 !important;
            width: 35px;
            height: 25px;
            border-radius: 4px !important;
        }
        &.btn-green{
            background-image: none;
            padding: 15px !important;
        }

    }

    /*watchlist*/
    .watchlist-coin-img{
        display: none !important;
    }
    .watch-list-detaile{
        border-right: none !important;
    }

    /*single-page*/
    .single-coin-detaile{
         .best-coin-value{
            margin-bottom: 20px;
         }
    }
    .single-page-detaile{
        padding: 30px 0 !important;
    }
    .single-coin-detaile {
        .center-header {
            display: block !important;
            .info_coin-page {
                text-align: center;
                display: block !important;
                .price-sign-coin{
                    font-size: 20px !important;
                    display: inline-block !important;
                }
                .price-number-coin{
                    font-size: 20px !important;
                    display: block !important;                    
                }
                .currency_icon {
                    display: block !important;
                    margin: 10px ;
                    padding-right: 0 !important;
                     .currency-coin-icon {
                        display: block !important;
                     }
                }
            }
        }
    }
}       

/*(max-width : 449px)*/
@media #{$small-mobile} {
	
	
}


